.Blog{
  margin-left: 90px;
  margin-top: 60px;
}

.Blog1{
  margin-left: 90px;
  color: #9CA3AF;
}

.mask1{
  margin-left: 70px;
}

.mask2{
  margin-left: 20px;
}

.mark1{
  font-size: 16px;
  font-weight: 350;
  margin-left: 90px;
}
.pmark1{
  font-size: 13px;
  font-weight: 350;
  margin-left: -278px;
  margin-top: 70px;
  color: #9CA3AF;
}
.aug{
  margin-left: -305px;
  margin-top: 150px;
  font-size: 13px;
}

.Commod{
  font-size: 16px;
  font-weight: 350;
  margin-left: 245px;
}

.Commod1{
  font-size: 13px;
  font-weight: 350;
  margin-left: -278px;
  margin-top: 70px;
  color: #9CA3AF;
}
.jul{
  margin-left: -298px;
  margin-top: 150px;
  font-size: 13px;
}

.How{
  font-size: 16px;
  font-weight: 350;
  margin-left: 250px;
}
.How1{
  font-size: 13px;
  font-weight: 350;
  margin-left: -288px;
  margin-top: 70px;
  color: #9CA3AF;
}
.jun{
  margin-left: -288px;
  margin-top: 150px;
  font-size: 13px;
  position: relative;
}